{% extends "global/Base.html" %}

{% load staticfiles otree_tags %}

{% block title %}
    Choices
{% endblock %}

{% block content %}

    {% include 'choice_history/Instructions.html' %}

    <div class="form-group required">
        <table class="table text-center">
                <td><button name="choice" value="N" class="btn btn-primary btn-large">Next</button></td>
        </table>
    </div>

    <div class="form-group required">
        <table class="table table-bordered text-center" style="width: auto; margin: auto">
            <tr>
                <th rowspan="2"><span class="rotate90">Round</span></th>
                <th colspan="2">Person 1 (Pairing)</th>
                <th colspan="2">Person 2 (You)</th>
            </tr>
            <tr class="highlight-row-on-hover">
                <td>Choice</td>
                <td>(R,S)</td>
                <td>Choice</td>
                <td>(U,V)</td>
            </tr>
            <tr class="highlight-row-on-hover">
                <td>1</td>
                <td>S</td>
                <td>(0,1)</td>
                <td>V</td>
                <td>(0,1)</td>
            </tr>
        </table>
    </div>
{% endblock %}
