{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Choices
{% endblock %}

{% block styles %}

    <style>
        .highlight-row-on-hover:hover td {
            background-color: #fcf8e3;
        }
    </style>

{% endblock %}

{% block content %}

    {% include 'Group_A/Instructions.html' %}

    <div class="form-group required">
        <table class="table text-center">
                <td><button name="own_choice" value="R" class="btn btn-primary btn-large">I choose R</button></td>
                <td><button name="own_choice" value="S" class="btn btn-primary btn-large">I choose S</button></td>
        </table>
    </div>

{% endblock %}