{% extends "global/Base.html" %}

{% load staticfiles otree_tags %}

{% block title %}
    Choices
{% endblock %}

{% block content %}

    {% include 'Group_A/Instructions.html' %}

    <div class="form-group required">
        <table class="table text-center">
                <td><button name="own_choice" value="U" class="btn btn-primary btn-large">I choose U</button></td>
                <td><button name="own_choice" value="V" class="btn btn-primary btn-large">I choose V</button></td>
        </table>
    </div>

{% endblock %}
