{% block content %}

<div class="box effect7">

<p>
    This study will last for a randomly selected number of rounds. We are 99.9% confident the study will continue no longer than 30 rounds or two hours. At the beginning of the study you will be randomly assigned to the role of Person 1 or Person 2. You will maintain this role throughout the entire study. Throughout the study you will be paired with one other participant, called your pairing, who will be selected at random at the beginning of the study. Each round, Person 1 will be given the choice between “R” and “S”. If Person 1 chooses “S”, Person 2 will be given the choice between “U” and “V. Based on your decisions and your pairing’s decisions, you will receive the following payoffs from the tree below. Person 1’s payoffs are on the top, and Person 2’s payoffs are on the bottom. Payoff values are represented by points, and will be converted to dollars at the end of the study.
</p>
<p>
    <img src="https://raw.githubusercontent.com/taylorjweidman/otreetjw/master/Group_B/templates/Group_B/GAME_TREE.png" alt="GAME TREE" width="100%" height="100%" />
</p>
<p>
    Each round you will be presented with a screen containing the following: your role as Person 1 or Person 2 (which does not change), the current round, and the decision tree. Feel free to refer to the instructions during the study. At the end of each round you will be presented with a payoff screen, displaying your final payoff.
</p>
<p>
    When the study ends, you will receive the total of all your payoffs, which is displayed on your screen. All choices are confidential and anonymous. No one will know who you are, who your partner is, or what choices you made in the study, including the researchers.
</p>
<p>
    [LAB-BASED STUDIES] Upon conclusion of the study, the payer will compile all participant payoffs in envelopes in a second room, labeling each with the ID number of the participant receiving the payoff. The payer will deliver the box to a secure location, where the researcher will collect it and return to the computer lab. The researcher and payer will not meet or communicate during the study. Upon departure, show the researcher their ID number to receive an envelope containing your payoff amount. The researcher will not know your payoff and will immediately insert your ID number directly into a shredder. No one will be able to trace your behavior in the study back to you. You will be free to leave.
</p>
<p>
    [MTURK-BASED STUDIES] Upon conclusion of the study, you will be presented with a unique Mechanical Turk code. Submit this code in Mechanical Turk to receive compensation. No one will be able to trace your behavior in the study back to you.
</p>

</div>

{% endblock %}
