{% block content %}

<div class="box effect7">

<p><b>INSTRUCTIONS</b></p>

<p>
    This study will last for a randomly selected number of rounds.
    You will maintain this role throughout the entire study.
    Each round, you will be paired with one other randomly selected participant, called your pairing.
    Each round, Person 1 will be given the choice between “R” and “S”. If Person 1 chooses “S”, Person 2 will be given the choice between “U” and “V”.
    Based on your decisions and your pairing’s decisions, you will receive the following payoffs from the tree below.
</p>
<p>
    <img src="https://raw.githubusercontent.com/taylorjweidman/otreetjw/master/Group_C/templates/Group_C/GAME_TREE.png" alt="GAME TREE" width="100%" height="100%" />
</p>

</div>

{% endblock %}
