{% extends "global/Base.html" %}

{% load staticfiles otree_tags %}

{% block title %}
    Repeated Anonymous Behavior
{% endblock %}

{% block content %}

    {% include 'Group_C/Instructions.html' %}

    <div class="form-group required">
        <table class="table text-center">
                <td><button name="own_choice" value="U" class="btn btn-primary btn-large">I choose U</button></td>
                <td><button name="own_choice" value="V" class="btn btn-primary btn-large">I choose V</button></td>
        </table>
    </div>

<table cellpadding="5" style="width: auto" align="center">
    <tr>

    <td valign="top"><table class="table table-bordered text-center" style="width: auto; margin: auto">
        <tr>
            <th rowspan="2"><span class="rotate90">Round</span></th>
            <th colspan="2"> Person 1 (Pairing) </th>
        </tr>
        <tr class="highlight-row-on-hover">
            <td>Choice</td>
            <td>(U,V)</td>
        </tr>
        {% for p in player.get_others_in_group %}
            {% for r in p.in_all_rounds %}
                <tr rowspan="" class="highlight-row-on-hover">
                    <td>{{r.subsession.round_number}}</td>
                    <td>{{r.own_choice}}</td>
                    <td>{{r.own_score}}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table></td>

    <td valign="top"><table class="table table-bordered text-center" style="width: auto; margin: auto">
        <tr>
            <th rowspan="2"><span class="rotate90">Round</span></th>
            <th colspan="2"> Person 2 (You) </th>
        </tr>
        <tr class="highlight-row-on-hover">
            <td>Choice</td>
            <td>(R,S)</td>
        </tr>
        {% for p in player.in_all_rounds %}
            <tr class="highlight-row-on-hover">
                <td>{{p.subsession.round_number}}</td>
                <td>{{p.own_choice}}</td>
                <td>{{p.own_score}}</td>
            </tr>
        {% endfor %}
    </table></td>

    </tr>
</table>
{% endblock %}
