{% extends "global/Base.html" %}

{% load staticfiles otree_tags %}

{% block title %}
    Choices
{% endblock %}

{% block content %}

    {% include 'Group_D/Instructions.html' %}

    <div class="form-group required">
        <table class="table text-center">
                <td><button name="own_choice" value="U" class="btn btn-primary btn-large">I choose U</button></td>
                <td><button name="own_choice" value="V" class="btn btn-primary btn-large">I choose V</button></td>
        </table>
    </div>

    <table class="table table-bordered text-center" style="width: auto; margin: auto">
        <tr>
            <th rowspan="2"><span class="rotate90">Round</span></th>
            <th colspan="2">Person 1 (Pairing)</th>
            <th colspan="2">Person 2 (You)</th>
        </tr>
        <tr class="highlight-row-on-hover">
            <td>Choice</td>
            <td>(R,S)</td>
            <td>Choice</td>
            <td>(U,V)</td>
        </tr>
        {% for p in player_in_all_rounds %}
            <tr class="highlight-row-on-hover">
                <td>{{p.subsession.round_number}}</td>
                <td>{{p.other_choice}}</td>
                <td>{{p.other_score}}</td>
                <td>{{p.own_choice}}</td>
                <td>{{p.own_score}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
