{% block content %}

<div class="box effect7">

<p>
    This study will last for a randomly selected number of rounds. We are 99.9% confident the study will continue no longer than 30 rounds or two hours. At the beginning of the study you will be assigned to the role of Person 1 or Person 2. You will maintain this role throughout the entire study. Each round, you will be paired with one other randomly selected participant, called your pairing. Each round, Person 1 will be given the choice between “R” and “S”. If Person 1 chooses “S”, Person 2 will be given the choice between “U” and “V”. Based on the decisions of you and your pairing, you will receive the following payoffs from the game tree below. Person 1’s payoffs are on the top, and Person 2’s payoffs are on the bottom. Payoff values are represented by points, and will be converted to dollars at the end of the study.
</p>
<p>
    <img src="https://raw.githubusercontent.com/taylorjweidman/otreetjw/master/Group_D/templates/Group_D/GAME_TREE.png" alt="GAME TREE" width="100%" height="100%" />
</p>
<p>
    Each round you will be presented with a screen containing the following: your role as Person 1 or Person 2, the current round, and the decision tree, and the complete choice table. Feel free to refer to the instructions when playing. At the end of each round you will be presented with a payoff screen, displaying your final payoff and the choice table.
</p>
<p>
    This choice table is designed to tell you and your pairing what choice each other had made in previous periods. At the end of 5 rounds, a hypothetical choice table could look like:
</p>
<p>
    This is the Complete Choice Table.
</p>
<p>
In this example, the choice table shows the following about Person 1:

In Round 5, Person 1 chose S after seeing that Person 2 had chosen U one time and V two times.
In Round 4, Person 1 chose S after seeing that Person 2 had chosen U one time and V one time.
In Round 3, Person 1 chose R after seeing that Person 2 had chosen U one time and V one time.
In Round 2, Person 1 chose S after seeing that Person 2 had chosen U zero times and V one time.
In Round 1, Person 1 chose S after seeing that Person 2 had chosen U zero times and V zero times.

In this example, the choice table shows the following about Person 2:

In Round 5, Person 2 chose V after seeing that Person 1 had chosen R one time and S four times.
In Round 4, Person 2 chose V after seeing that Person 1 had chosen R one time and S three times.
In Round 3, Person 2 wasn’t given the option to choose, since Person 1 had chosen R that round.
In Round 2, Person 2 chose U after seeing that Person 1 had chosen R zero times and S one time.
In Round 1, Person 2 chose V after seeing that Person 1 had chosen R zero times and S zero times.
</p>
<p>
    In this hypothetical example, Person 1 and Person 2 were paired with each other in all 5 rounds to simplify the example. In the study, however, you will be assigned a new pairing each round, so the choice table you will see also changes each round. The choice table will be available for all rounds in the study. This information can be used to inform your choices in the study.
</p>
<p>
    When the study ends, you will receive the total of all your payoffs, which will be displayed on your screen. All choices are confidential and anonymous. No one will know who you are or what choices you made in the study, including the researchers.
</p>
<p>
    [LAB-BASED STUDIES] Upon conclusion of the study, the payer will compile all participant payoffs in envelopes in a second room, labeling each with the ID number of the participant receiving the payoff. The payer will deliver the box to a secure location, where the researcher will collect it and return to the computer lab. The researcher and payer will not meet or communicate during the study. Upon departure, show the researcher their ID number to receive an envelope containing your payoff amount. The researcher will not know your payoff and will immediately insert their ID number directly into a shredder. No one will be able to trace your behavior in the study back to you. You will be free to leave.
</p>
<p>
    [MTURK-BASED STUDIES] Upon conclusion of the study, you will be presented with a unique Mechanical Turk code. Submit this code in Mechanical Turk to receive compensation. No one will be able to trace your behavior in the study back to you.
</p>
</div>

{% endblock %}
