{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Introduction
{% endblock %}

{% block content %}

<div class="box effect7">

<p><center>
    This study will last for a randomly selected number of rounds. We are 99.9% confident the study will continue no longer than 30 rounds or two hours. At the beginning of the study you will be randomly assigned to the role of Person 1 or Person 2. You will maintain this role throughout the entire study. Each round, you will be paired with one other randomly selected participant, called your pairing.
    Each round, Person 1 will be given the choice between "R" and "S". If Person 1 chooses "S", Person 2 will be given the choice between "U" and "V".
    Based on the decisions of you and your pairing, you will receive the following payoffs from the tree below.
    Person 1's payoffs are on the top, and Person 2's payoffs are on the bottom.
    Payoff values are represented by points, and will be converted to dollars at the end of the study.
</center></p>
<p>
</p>
<p>
    Every round you will be presented with a screen containing the following: your role as Person 1 or Person 2 (which does not change), the current round, and the decision tree.
    Feel free to refer to the instructions when playing.
    At the end of each round you will be presented with a payoff screen, displaying your final payoff.

    When the study ends, you will receive the total of all your payoffs, which is displayed on your screen.
    All choices are confidential and anonymous. No one will know who you are, who your pairings are, or what choices you made in the study, including the researchers.
</p>
<p>
    Upon conclusion of the study, you will be presented with a unique Mechanical Turk code.
    Submit this code in Mechanical Turk to receive compensation.
    No one will be able to trace your behavior in the study back to you.
</p>
<p>
    To start, participant A receives {{ Constants.endowment }};
    participant B receives nothing.
    Participant A can send some or all of his {{ Constants.endowment }} to participant B.
    Before B receives these points they will be tripled.
    Once B receives the tripled points he can decide to send some or all of his points to A.
</p>

<p><b><center>
    Follow the link below to participate in the study.
</center></b></p>

<p><b><center>
    <a href="https://otreetjw.herokuapp.com/join/nehoneribo/">Games Links</a>
</center></b></p>

</div>

{% endblock %}
