{% block content %}

<div class="box effect7">

<p>
    This study will last for a randomly selected number of rounds. You will maintain your role throughout the entire study. Each round, you will be paired with one other randomly selected participant, called your pairing. Each round, Person 1 will be given the choice between “R” and “S”. If Person 1 chooses “S”, Person 2 will be given the choice between “U” and “V”. Based on the decisions of you and your pairing, you will receive the following payoffs from the tree below. Payoff values are represented by points, and will be converted to dollars at the end of the study.
</p>
<p>
    <img src="https://raw.githubusercontent.com/taylorjweidman/otreetjw/master/Group_A/templates/Group_A/GAME_TREE.png" alt="GAME TREE" width="100%" height="100%" />
</p>

</div>

{% endblock %}
