{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Informed Concent Document
{% endblock %}

{% block content %}

    <div class="box effect7">

    <p align="justify">
    <b>Title of Study:</b> Repeated Anonymous Behavior
    </p><p>
    <b>Investigators:</b> Taylor Weidman
    This form describes a research project. It has information to help you decide whether or not you wish to participate. Research studies include only people who choose to take part – your participation is completely voluntary. Please discuss any questions you have about the study or about this form with the project staff before deciding to participate.
    </p><p>
    <b>Introduction</b>
    The purpose of this study is to obtain a better understanding of how people make choices in a specific context. You are being invited to participate in this study because you showed an interest in the study. You should not participate if you are under age 18.
    </p><p>
    <b>Description of Procedures</b>
    If you agree to participate, you will be asked to participate in a study administered via a secure website. You will be asked to play a game over the computer for an unknown number of rounds lasting no longer than two hours. You will be given little/no information about who you are playing. You will be given more information about the structure of the game in the instructions.
    </p><p>
    <b>Risks or Discomforts</b>
    There are no foreseeable risks at this time in participating in the study.
    </p><p>
    <b>Benefits</b>
    If you decide to participate in this study, there are no direct benefits to you. It is hoped that the information gained in this study will benefit society by providing more insight into a specific type of economic behavior.
    </p><p>
    <b>Costs and Compensation</b>
    You will not have any costs from participating in this study. Most participants are expected to earn between $6 and $12 per hour. Your final compensation will vary depending on the decisions you make during the study.
    </p><p>
    <b>Participant Rights</b>
    Participating in this study is completely voluntary. You may choose not to take part in the study or to stop participating at any time, for any reason, without penalty or negative consequences. If you have any questions about the rights of research subjects or research-related injury, please contact the IRB Administrator, 515-294-4566, IRB@iastate.edu, or Director, 515-294-3115, Office for Responsible Research, Iowa State University, Ames, Iowa 50011.
    </p><p>
    <b>Confidentiality</b>
    Records kept during the game will have no identifying information, and are completely anonymous. However, this consent form and any other documents identifying participants will be kept confidential to the extent permitted by applicable laws and regulations and will not be made publicly available. However, federal government regulatory agencies, auditing departments of Iowa State University, and the Institutional Review Board (a committee that reviews and approves human subject research studies) may inspect and/or copy study records for quality assurance and data analysis. These records may contain private information.
    </p><p>
    To ensure confidentiality to the extent permitted by law, the following measures will be taken: hard data will be stored in a locked cabinet for which only the Principal Investigator (PI) has a key. Electronic data will be stored on the PI's computer or department server under password protection. Only persons with Human Subjects Training who are part of this project will be granted access to individual data. Information identifying participants will not be collected. When we report results, we will group responses in aggregate.
    </p><p>
    <b>Questions</b>
    You are encouraged to ask questions at any time during this study. For further information about the study, contact Taylor Weidman at 540-929-0242, weidman@iastate, or Elizabeth Hoffman at bhoffman@iastate.edu.
    </p><p>
    <b>Consent and Authorization Provisions</b>
    Your signature indicates that you voluntarily agree to participate in this study, that the study has been explained to you, that you have been given the time to read the document, and that your questions have been satisfactorily answered. You may print a copy of this informed consent document for your records.
    </p><p>
    <b>Participant’s Electronic Signature</b>
    By signing I acknowledge I have read and agree with the material contained in the Informed Consent Document. Typing your name below is sufficient.
    </p>

    </div>

    {% formfield player.IRB_accept %}
    {% next_button %}

{% endblock %}
